<!DOCTYPE html>
<html ng-app="padaApp">
<head>
    <title>Administrador de logistica y produccion</title>
    
    <!-- 3rd party stuff -->
    <script src="vendor/angular/angular.min.js"></script>
    
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="vendor/angular-touch/angular-touch.min.js"></script>
    <script src="vendor/angular-smart-table/smart-table.min.js"></script>
 	<link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js"></script>

 	<!-- Angular js initialization file -->
 	<script src="scripts/controllers/app.js"></script>
 	
 	<script src="scripts/controllers/rest.js"></script>
 	
 	<!-- My controllers -->
 	
	<script src="scripts/controllers/productsController.js"></script>
	<script src="scripts/controllers/ingredientsController.js"></script>
 	<script src="scripts/controllers/indexController.js"></script>
 	
 	
 	<!-- My styles -->
 	<link href="styles/pada.css" rel="stylesheet">
 	
 	
</head>
	
	<body>
		<nav class="{{active}}">
			<!-- When a link in the menu is clicked, we set the active variable -->
	
			<a href="#" class="home" ng-click="active='home'">Home</a>
			<a href="/pada-ui/#/ingredients" class="ingredients" ng-click="active='ingredients'">Ingredientes</a>
			<a href="/pada-ui/#/products" class="products" ng-click="active='products'">Productos</a>
			<a href="#" class="clients" ng-click="active='clients'">Clientes</a>
			<a href="#" class="calendar" ng-click="active='calendar'">Calendario</a>
		</nav>

		<div ng-view></div>
	</body>

</html>